実験してますわ
%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?src=t64.sugano.kaito%40gmail.com&ctz=Asia%2FTokyo", :style => "border: 0", :width => "800"}
