.index-wrap
  .container
    .index-main
      =link_to calendar_users_path do
        .index-main__left
          無料相談・コンサル受付の方
      =link_to new_user_session_path do
        .index-main__right
          会員の方
